h1 {
    color: deepskyblue;
}

img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: #E3E6E9;
    padding: 50px;
    border: 2px solid black;
    border-radius: 4px;
}

#spanId{
    font-size: 18px;
    margin: 50px;
}